.cartao-pokemon {
    display: none;
    box-shadow: rgba(46, 240, 198, 0.4) 5px 5px, rgba(46, 240, 188, 0.3) 10px 10px, rgba(46, 214, 240, 0.2) 15px 15px, rgba(46, 240, 214, 0.1) 20px 20px, rgba(46, 217, 240, 0.05) 25px 25px;
    border-radius: 10px;
}

.cartao-pokemon .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

.cartao-pokemon .tipo {
    font-size: 12px;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px  ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cartao-pokemon .detalhes {
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem {
    width: 350px;
    height: 350px;
}

.cartao-pokemon img {
    max-height: 100%;
}

.cartao-pokemon .cartao-informacoes {
   
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades {
    padding: 0 10px;
    width: 180px;
}

.cartao-pokemon .cartao-informacoes .habilidades ul li, .cartao-pokemon .cartao-informacoes .status ul li {
    border-bottom: 1px solid #c3c4c5;
    border-right: 1px solid #c3c4c5;
    border-radius: 5px;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
    box-shadow: rgba(97, 230, 166, 0.2) 0px 0px 0px 3px;
}

.cartao-pokemon.aberto {
    display:block;
}

.tipo-fogo {
    background-color: #db9367;
}

.tipo-eletrico {
    background-color: #Fcc719;
}

.tipo-agua {
    background: rgb(115, 167, 241);
}

.tipo-grama {
    background-color: #49d0b0;
}

.tipo-ghost {
    background: #a35ab0;
}

.tipo-dragao {
    background-color: #e7bb2c;
}